@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Gravitas One", serif;
  font-weight: 300;
  font-style: normal;
}