.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,300px) 200px 200px;
    gap: 5px;
}
.box{
    background-color: rgb(98, 95, 95);
    
}
#box1{
    grid-row: span 5;
}
#box11,#box12{
    grid-column: span 3;
}